{% extends "tech/base.html" %}

{% block title %}
    Polytech
{% endblock %}
{% block navbar %}

{#{% include 'includes/navigation.html' with pages = ["Home", "Features"].split  %}#}

{% with "Home Features" as list %}
    {% include 'includes/navigation.html' with pages=label_navibar  %}    
{% endwith %}

    
{% endblock %}
{% block body %}
    
    <!-- Main Results Figure --> 
<div style="text-align: center;">
    <!--<img style="height: 300px;" alt="" src="qual_results.png">-->
    <h1>Xin chào - Hello you!!!</h1>
    <h2>Upcoming changes</h2>

</div>
{% endblock %}
